{% extends "@FOSUser/layout.html.twig" %}



{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/signin.css') }}">



{% endblock %}



{% block fos_user_content %}

    {% trans_default_domain 'FOSUserBundle' %}



    {% if error %}

        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>

    {% endif %}



    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">

        {% if csrf_token %}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>



        <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>

        <input type="text" id="username" placeholder="Nom d'utilisateur" class="form-control" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />



        <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>

        <input type="password" class="form-control" placeholder="Mot de passe" id="password" name="_password" required="required" autocomplete="current-password" />







        <div class="checkbox mb-3">

            <label>

                <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}

            </label>

        </div>

        <input type="submit" class="btn btn-lg btn-primary btn-block"  id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />



    </form>



{% endblock fos_user_content %}