{% extends 'base.html.twig' %}
{% form_theme formDevis 'bootstrap_4_layout.html.twig' %}

{% block title %}devis!{% endblock %}

{% block body %}
    <h3 class="doni">Nos aides à domicile sont à votre disposition</h3>
    <main class="larg">
    <div class="container">
        <form class="form-group">
            <h4>Devis 100% gratuit</h4>
            {{ form_start(formDevis) }}
            {{ form_row(formDevis.nom, {'attr': {'placeholder': "dupond"}}) }}
            {{ form_row(formDevis.prenom, {'attr': {'placeholder': "mathiew"}}) }}
            {{ form_row(formDevis.ville, {'attr': {'placeholder': "Montreuil"}}) }}
            {{ form_row(formDevis.telephone, {'attr': {'placeholder': "06 29 57 54 20"}}) }}
            {{ form_row(formDevis.email, {'attr': {'placeholder': "mathiew@gmail.com"}}) }}


            {{ form_end(formDevis) }}
        </form>

    </div>
    </main>


{% endblock %}
